section.about 
    .container
        +blockBox("what we do", "story about us", "Due to high demand on our system, previous chats are temporarily unavailableDue to high demand on our system, previous chats are temporarily unavailable Due to high demand on our system, previous chats are temporarily unavailableDue to high demand on our system, previous chats are temporarily unavailable")
        .about-list 
            +aboutItem({
                src: "./images/about-us_one.png",
                title: "Super team",
                iconClass: "fa fa-users"
            })
            +aboutItem({
                src: "./images/about-us_two.png",
                title: "Super team",
                iconClass: "fa fa-users"
            })
            +aboutItem({
                src: "./images/about-us_three.png",
                title: "Super team",
                iconClass: "fa fa-users"
            })