footer.footer 
    .container 
        .footer-top
            .footer-column 
                a(href="index.html").footer-heading.footer-heading--logo MoGo 
                p.footer-desc Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati repellendus alias doloribus quas qui eius aliquid iure omnis et ratione. Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati repellendus alias doloribus quas qui eius aliquid iure omnis et ratione. Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati repellendus alias doloribus quas qui eius aliquid iure omnis et ratione.
                p.footer-follower <strong>15k</strong> follower 
                .footer-social 
                    span Follow us 
                    .footer-social-list
                        a.footer-social-icon(href="https://www.facebook.com/vuout.9701") 
                            i.fab.fa-facebook
                        a.footer-social-icon(href="#") 
                            i.fab.fa-facebook
                        a.footer-social-icon(href="#") 
                            i.fab.fa-facebook
                        a.footer-social-icon(href="#") 
                            i.fab.fa-facebook
                form.footer-form(action="#")
                    input(type="email" placeholder="Your name").footer-form-input
                    button.footer-form-button Subscrice
            .footer-column 
                h3.footer-heading Blogs 
                a(href="#").footer-blog 
                    img.foooter-blog-image(src="./images/footer-blog_one.png", alt="")
                    .footer-blog-info 
                        h4.footer-blog-title Lorem ipsum dolor sit amet consectetur. Lorem ipsum dolor sit amet consectetur. Lorem ipsum dolor sit amet consectetur. Lorem ipsum dolor sit amet consectetur.
                        span.footer-blog-date jan 9, 2022
                a(href="#").footer-blog 
                    img.foooter-blog-image(src="./images/footer-blog_two.png", alt="")
                    .footer-blog-info 
                        h4.footer-blog-title Lorem ipsum dolor sit amet consectetur.
                        span.footer-blog-date jan 9, 2022
                a(href="#").footer-blog 
                    img.foooter-blog-image(src="./images/footer-blog_three.png", alt="")
                    .footer-blog-info 
                        h4.footer-blog-title Lorem ipsum dolor sit amet consectetur.
                        span.footer-blog-date jan 9, 2022
            .footer-column 
                h3.footer-heading Instagram
                .footer-images
                    .footer-image
                        img(src="./images/instagram-one.png", alt="")
                    .footer-image
                        img(src="./images/instagram-two.png", alt="")
                    .footer-image
                        img(src="./images/instagram-three.png", alt="")
                    .footer-image
                        img(src="./images/instagram-four.png", alt="")
                    .footer-image
                        img(src="./images/instagram-five.png", alt="")
                    .footer-image
                        img(src="./images/instagram-six.png", alt="")
                    .footer-image
                        img(src="./images/instagram-sevent.png", alt="")
                    .footer-image
                        img(src="./images/instagram-eight.png", alt="")
                    .footer-image
                        img(src="./images/instagram-nine.png", alt="")
                a(href="").footer-images-more view more photo 
        .footer-bottom &copy; 2016 MoGo free PSD template by <span>laaqiq</span>