section.people 
    .container 
        +blockBox("happy slients", "what people say")
        ul.people-list 
            +peopleItem("./images/people-one.png", "hvu pham", "font-end developer","Lorem ipsum, dolor sit amet consectetur adipisicing elit. Amet labore fugiat, fuga praesentium repellendus sed!")
            +peopleItem("./images/people-two.png", "hvu pham", "font-end developer","Lorem ipsum, dolor sit amet consectetur adipisicing elit. Amet labore fugiat, fuga praesentium repellendus sed!")
            +peopleItem("./images/people-three.png", "hvu pham", "font-end developer","Lorem ipsum, dolor sit amet consectetur adipisicing elit. Amet labore fugiat, fuga praesentium repellendus sed!")
            +peopleItem("./images/people-four.png", "hvu pham", "font-end developer","Lorem ipsum, dolor sit amet consectetur adipisicing elit. Amet labore fugiat, fuga praesentium repellendus sed!")