section.quote
    .container 
        .quote-container
            +quoteItem("./images/icon-one.png", false, "Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti illo soluta laudantium itaque cumque optio. laudantium itaque cumque optio. laudantium itaque cumque optio. laudantium itaque cumque optio. laudantium", "hvu pham")
            +quoteItem("./images/icon-one.png", false, "Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti illo soluta laudantium itaque cumque optio. laudantium itaque cumque optio. laudantium itaque cumque optio. laudantium itaque cumque optio. laudantium", "hvu pham")
            +quoteItem("./images/icon-one.png", false, "Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti illo soluta laudantium itaque cumque optio. laudantium itaque cumque optio. laudantium itaque cumque optio. laudantium itaque cumque optio. laudantium", "hvu pham")