section.service 
    .container 
        +blockBox("we work with", "amazing services")
        .service-container
            .service-list 
                +serviceItem("fa fa-cog", "photography", "Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea iure dignissimos veritatis, dolores dolorum architecto.")
                +serviceItem("fa fa-cog", "web design", "Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea iure dignissimos veritatis, dolores dolorum architecto.")
                +serviceItem("fa fa-cog", "creativity", "Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea iure dignissimos veritatis, dolores dolorum architecto.")
            .service-list 
                +serviceItem("fa fa-cog", "photography", "Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea iure dignissimos veritatis, dolores dolorum architecto.")
                +serviceItem("fa fa-cog", "web design", "Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea iure dignissimos veritatis, dolores dolorum architecto.")
                +serviceItem("fa fa-cog", "creativity", "Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea iure dignissimos veritatis, dolores dolorum architecto.")
            
            