.section.story 
    .container 
        +blockBox("our stories", "latest Block")
        ul.story-list 
            +storyItem("./images/blog-one.png", "15", "Jan", "Lorem ipsum dolor ", "Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam qui eius debitis sint molestias id sunt pariatur, culpa cum neque.", "fa fa-eye", "542", "fa fa-comment", "17")
            +storyItem("./images/blog-two.png", "14", "Jan", "Lorem ipsum dolor ", "Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam qui eius debitis sint molestias id sunt pariatur, culpa cum neque.", "fa fa-eye", "542", "fa fa-comment", "17")
            +storyItem("./images/blog-three.png", "13", "Jan", "Lorem ipsum dolor ", "Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam qui eius debitis sint molestias id sunt pariatur, culpa cum neque.", "fa fa-eye", "542", "fa fa-comment", "17")
.section.map 
    .container 
        .map-content    
            img.map-icon(src="./images/map-icon.png", alt="")
            h2.map-heading Open map