section.team 
    .container 
        +blockBox("who we are", "meet our team", "Due to high demand on our system, previous chats are temporarily unavailableDue to high demand on our system, previous chats are temporarily unavailable Due to high demand on our system, previous chats ")
        .team-list 
            +teamItem("./images/our-team_one.png", hrefOne="#", "fab fa-facebook-f", hrefTwo="#", "fab fa-twitter", hrefThree="#", "fab fa-pinterest", hrefFour="#", "fab fa-instagram", "christopher cambell christopher cambell christopher cambell christopher cambell christopher cambell christopher cambell", "baranding ux/design")
            +teamItem("./images/our-team_two.png", hrefOne="#", "fab fa-facebook-f", hrefTwo="#", "fab fa-twitter", hrefThree="#", "fab fa-pinterest", hrefFour="#", "fab fa-instagram", "christopher cambell", "baranding ux/design")
            +teamItem("./images/our-team_three.png", hrefOne="#", "fab fa-facebook-f", hrefTwo="#", "fab fa-twitter", hrefThree="#", "fab fa-pinterest", hrefFour="#", "fab fa-instagram", "christopher cambell", "baranding ux/design")