section.work 
    .container
        +blockBox("what we do", "some of our work", "Due to high demand on our system, previous chats are temporarily unavailableDue to high demand on our system, previous chats are temporarily unavailable Due to high demand on our system, previous chats")
    .work-list
        +workItem("./images/work-one.png", "fa fa-home", "creatively designed", "Lorem ipsum dolor sit amet.")
        +workItem("./images/work-five.png", "fa fa-home", "creatively designed", "Lorem ipsum dolor sit amet.")
        +workItem("./images/work-two.png", "fa fa-home", "creatively designed", "Lorem ipsum dolor sit amet.")
        +workItem("./images/work-six.png", "fa fa-home", "creatively designed", "Lorem ipsum dolor sit amet.") 
        +workItem("./images/work-three.png", "fa fa-home", "creatively designed", "Lorem ipsum dolor sit amet.") 
        +workItem("./images/work-four.png", "fa fa-home", "creatively designed", "Lorem ipsum dolor sit amet.")
        +workItem("./images/work-sevent.png", "fa fa-home", "creatively designed", "Lorem ipsum dolor sit amet.")